body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    margin: auto;
    text-align: center;
}


header, nav, section, aside, footer{
    background: #ebebeb;
}

div{
    overflow: hidden;
}

article{
    color: #ebebeb;
    background-color: #777;
}


h1, p{
    color: #777;
    background-color: #ebebeb;
}

section{
    width: 495px;
    float: left;
}

aside{
    float: right;
    width: 445px;
}


header{
    margin-top: .5em;
    margin-bottom: .5em;
    padding-top: 1em;
    padding-bottom: 1em;
}


nav{
    margin-top: .5em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}


footer{
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

















